<div class="container-fluid">
  <div class="jumbotron">
    <h2 class="text-center">Welcome to Job Search! The first step to your full stack career.</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <form action="/" method="post">
          <div class="form-group">
            <h3>Select your website options:</h3>
            <input type="checkbox" name="website" value="indeed"> Indeed<br>
            <input type="checkbox" name="website" value="meetup"> MeetUp<br>
            <input type="checkbox" name="website" value="craiglist"> CraigList<br>
          </div>

          <div class="form-group">
            <h3>Please input your options:</h3>
            <input name="location" class="form-control" type="text" placeholder="Location: City or Zip Code">
            <input name="keyword" class="form-control" type="text" placeholder="Search keyword, job title or company">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Start Search</button>
        </form>
      </div>
    </div>

    <div class="col-md-8">
      <div class="well">
        <h3 class="text-center">Jobs and CL</h3>
      </div>
      <div class="well">
        <h3 class="text-center">Meetups</h3>
        <ol>
        <% @meetups.first(15).each do |meetup| %>
          <% time = Time.at(meetup.time / 1000) %>
          <h4><li><a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a> <%= time.strftime("%m/%d %I:%M %p") %></li></h4>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
